*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: "Cormorant SC", serif;
    font-style: normal;
}
.contact{
    background: #FF3147 0% 0% no-repeat padding-box;
    border-radius: 2px;
    border-color: transparent;
    opacity: 1;
    color: white;
    font: normal normal 600 14px/26px Poppins;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
}
.firstGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid red ;
    grid-column-gap: 68px;
    /* margin-top: 100px; */
}
.grid-right-img{
  width: 487px;
  margin-top: 100px;
  /* height: 737px; */
  /* position: absolute;
  top: 100px;
  left: 1058px; */
}
img{
  display: inline-block;
  width: 100%;
  height: auto;

}
.grid-left-text{
  grid-column-start: 2;
}
.award{
  width: 251px;
  height: 30px;
  /* UI Properties */
  text-align: left;
  font: normal normal 600 30px/110px Cormorant SC;
  letter-spacing: 0px;
  color: #FF3147;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 39px;
  margin-top: 243px;
}
.digital-agency{
  /* Layout Properties */
width: 614px;
height: 140px;
/* UI Properties */
text-align: left;
font: normal normal bold 60px/80px Cormorant SC;
letter-spacing: 0px;
color: #000000;
text-transform: uppercase;
opacity: 1;
}
.short{
  /* Layout Properties */
width: 584px;
height: 83px;
/* UI Properties */
/* text-align: left; */
font: normal normal normal 16px/30px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-top: 50px;
}
#contactUs{
  margin-top: 60px;
}
/* .cormorant-sc-light {
    font-family: "Cormorant SC", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-sc-regular {
    font-family: "Cormorant SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-sc-medium {
    font-family: "Cormorant SC", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cormorant-sc-semibold {
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-sc-bold {
    font-family: "Cormorant SC", serif;
    font-weight: 700;
    font-style: normal;
  }
   */

   /* .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */
  